.youtube-embed {
	position: relative;
	display: block;
}

.youtube-embed iframe {
	display: block;
}

.youtube-embed:not(.youtube-embed-loaded):before {
	content: '▶️';
	pointer-events: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 4em;
	text-shadow: 0 0 1em #000;
}