---
layout: page
---

<div class="flex gap5">
	<div class="w100">{{ content }}</div>
	<sidebar class="f5 w6">
		<a href="{{ page.website }}" class="bg-blue p2 display-block">
			<img
				alt="Screenshot of {{ page.title }}"
				src="{% browsershot page.website %}"
				class="d-b" />
		</a>
		<ul class="bg-yellow p3 l-ls-n">
			<li><a class="f-fw900" href="{{ page.website }}">{{ page.website | replace: "https://", "" }} &rarr;</a></li>
			<li><p class="m0 f6">{{ page.description }}</p></li>
		</ul>
	</sidebar>
</div>

<p class="m-t5"><a href="/library/" class="btn">&larr; More from the Library</a></p>
